@{
	ViewData["Title"] = "Home";
}




<!--BANNER-->

<section class="hero-section" id="home">
	<div class="hero-content">
		<h1 class="hero-title">BodyCorp</h1>
		<p class="hero-text">
			Criando soluções inteligentes com IA para proteger quem move o mundo com as próprias mãos.
			Tecnologias de prevenção, sensores e equipamentos que cuidam da sua segurança.
		</p>
		<a href="#sobre" class="hero-btn">Conheça Nossa Tecnologia</a>
	</div>
</section>


<!-- SOBRE A BODYCORP -->
<section class="info-section" id="sobre">
	<h2 class="info-title">Tecnologia a serviço da segurança</h2>
	<p class="info-text">
		Desenvolvemos ferramentas inteligentes que monitoram movimentos e reduzem riscos,
		prevenindo lesões no ambiente de trabalho. Segurança e conforto com o melhor da inovação.
	</p>
</section>


<!-- CONTATO -->
<section id="contato" class="py-5">
	<div class="container">
		<h2 class="mb-4">Precisa de Ajuda?Nós Contate!</h2>
		<p>Email: suporte@bodycorp.com</p>
		<p>Telefone: (11) 99999-9999</p>
	</div>
</section>

