@{
	ViewData["Title"] = "Home";
}
	<style>



<!--BANNER-->
			transition: .3s;
			box-shadow: 0 0 15px #0aff0a;
		}

			.hero-btn:hover {
				background-color: #00cc00;
				box-shadow: 0 0 25px #0aff0a;
				transform: translateY(-3px);
			}

		/* SEÇÕES */
		.info-section {

<!-- SOBRE A BODYCORP -->
<section class="info-section" id="sobre">
	<h2 class="info-title">Tecnologia a serviço da segurança</h2>
	<p class="info-text">
		Desenvolvemos ferramentas inteligentes que monitoram movimentos e reduzem riscos,
		prevenindo lesões no ambiente de trabalho. Segurança e conforto com o melhor da inovação.
	</p>
</section>


<!-- CONTATO -->
<section id="contato" class="py-5">
	<div class="container">
		<h2 class="mb-4">Precisa de Ajuda?Nós Contate!</h2>
		<p>Email: suporte@bodycorp.com</p>
		<p>Telefone: (11) 99999-9999</p>
	</div>
</section>

		<a href="#sobre" class="hero-btn">Conheça Nossa Tecnologia</a>
	</div>
</section>
			color: #0aff0a;

<!-- SOBRE A BODYCORP -->
<section class="info-section" id="sobre">
	<h2 class="info-title">Tecnologia a serviço da segurança</h2>
	<p class="info-text">
		Desenvolvemos ferramentas inteligentes que monitoram movimentos e reduzem riscos,
		prevenindo lesões no ambiente de trabalho. Segurança e conforto com o melhor da inovação.
	</p>
</section>


<!-- CONTATO -->
<section id="contato" class="py-5">
	<div class="container">
		<h2 class="mb-4">Precisa de Ajuda?Nós Contate!</h2>
		<p>Email: suporte@bodycorp.com</p>
		<p>Telefone: (11) 99999-9999</p>
	</div>
</section>


				